<div class="options-container">
    <div class="dropdown-arrow"></div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/edit.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Edit</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/reimbursement.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Reimburse</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/archive-add.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Archive</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/export.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Export</div>
    </div>
</div>