.user-container{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
}
.info{
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: flex-start;
}

.name{
    font-size: 14px;
    font-weight: 400;
    color: var(--primary-text-color);
}
.department{
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-text-color);
}