<div class="options-container">
    <div class="dropdown-arrow"></div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/user-circle.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>User</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/briefcase.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Department</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/wallet-add.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Advance</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/report.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Document</div>
    </div>
    <div class="button-container dropdown-item">
        <app-svg svgFile="assets/svg/project.svg" [svgSize]="24" [svgColor]="'var(--secondary-text-color)'" [fill]="false"></app-svg>
        <div>Project</div>
    </div>
</div>